.clients-block
  display: flex
  align-items: center 
  justify-content: center
  vertical-align: middle
  width: 212px
  height: 130px
  border: 1px solid rgba(0, 0, 0, 0.1)
  margin-bottom: 33px
  cursor: pointer
  &:hover
    border: 1px solid rgba(0, 0, 0, 0.5)
  img
    max-width: 100%
