.button
  color: $text-color-light
  font-family: 'Roboto'
  font-weight: 400
  font-size: 14px
  background-color: $active-color
  border: none
  border-radius: 5px
  padding: 13px 22px
  outline: none
  cursor: pointer
  &:hover
    background-color: lighten($active-color, 5)
  img
    vertical-align: middle
    margin: 0 10px 0 0
  &_big
    padding-top: 20px
    padding-bottom: 20px
    vertical-align: middle