@media (max-width: 576px)
  nav
    display: none
  .header
    &_logo
      width: 35px
      height: 35px
      background: $active-color url('../img/header-logo_mobile.png') center no-repeat
      border-radius: 4px
    &-contacts
      &__phone
        &s
          flex-direction: column
        font-size: 14px
        font-weight: 400
        &-bold
          font-weight: 900
        &:first-child
          padding-right: 0
          border-right: none
        &:last-child
          margin: 0
          margin-left: 0
  .hidden-mobile
    display: none
  .header-contacts__button
    padding: 7px
    img
      margin-right: 0
  
  .main
    padding-top: 50px
    text-align: center
    &-text
      &__title
        font-size: 22px
        font-weight: 700
        line-height: 24px
        color: $active-color
      &__subtitle
        font-size: 18px
        font-weight: 400
        margin-bottom: 40px
      &__form
        background-color: transparent
        padding: 0
    .form
      display: block
      &-title
        padding-right: 0
        font-size: 16px
        font-weight: 300
        line-height: 18px
        margin-bottom: 16px
        &__important
          display: block
          margin-top: 14px
          font-weight: 700
      &__input
        text-align: center
        display: inline-block
        margin: 0 0 13px 0
        width: 99%
  .button
    &_big
      width: 220px

  .overlay
    .popup
      display: block
      border: 5px $active-color
      top: 60px
      width: 290px
      &-title
        font-size: 16px
        mix-heigth: 61px
      &-close
        top: -10px
        right: 2px
      &-form
        text-align: center
        padding: 15px 10px
        &__header
          font-size: 20px
          span
            display: inline-block
            font-size: 15px
        &__input
          display: inline-block
          width: 99%
        &__label
          font-size: 16px
          margin-bottom: 10px
          margin-top: 15px
        &__btn
          width: 200px
        &__note
          font-size: 12px
        
        