@media (max-width: 1200px)
  .main  
    &-img
      width: 390px
      left: -50px
      &::before
        content: ''
        position: absolute
        height: 350px
        width: 350px
        left: 50%
        margin-left: -145px
        top: -2px
        border: 2px solid #ffffff
        border-radius: 50%
        z-index: -1
    &-text
      &__title
        font-size: 36px
        font-weight: 700
        line-height: 40px
        margin-bottom: 8px
        margin-top: 0
      &__subtitle
        font-size: 24px
        font-weight: 300
        margin-bottom: 18px
  .form
    &-title
      padding-right: 50px
      font-size: 18px
      font-weight: 300
      line-height: 30px
      margin-bottom: 16px
      &__important
        text-transform: uppercase
        font-weight: 700
    &__input
      font-size: 13px
    &-small
      font-size: 12px
  .button
    &_big
      font-size: 13px

  
@media (max-width: 992px)
  .hidden-box
    display: none
  nav
    display: none
  .main
    text-align: center
    &-text
      padding-right: 70px
      padding-left: 70px
      &__title
        font-size: 41px
        font-weight: 700
        line-height: 45px
        margin-bottom: 8px
        margin-top: 0
      &__subtitle
        font-size: 28px
        font-weight: 300
        margin-bottom: 20px
  .header
    &-contacts
      &__phone
        &s
          flex-direction: column
        font-size: 20px
        font-weight: 400
        &-bold
          font-weight: 900
        &:first-child
          padding-right: 0
          border-right: none
        &:last-child
          margin: 0
          margin-left: 0
  .form
    &-title
      font-size: 18px
      padding-right: 0
      &__important
        display: block
    &__input
      font-size: 13px
  
@media (max-width: 768px)
  .hidden-mobile
    display: none
  nav
    display: none
  .main
    text-align: center
    &-text
      padding-right: 0
      padding-left: 0
      &__title
        font-size: 38px
        font-weight: 700
        line-height: 41px
        margin-bottom: 8px
        margin-top: 0
      &__subtitle
        font-size: 26px
        font-weight: 300
        margin-bottom: 20px
  .button
    &_big
      font-size: 13px
    img
      margin-right: 0
  .header
    &-contacts
      &__phone
        &s
          flex-direction: column
        font-size: 16px
        font-weight: 400
        &-bold
          font-weight: 900
        &:first-child
          padding-right: 0
          border-right: none
        &:last-child
          margin: 0
          margin-left: 0
  .form
    &-title
      font-size: 18px
      padding-right: 0
      &__important
        display: block
    &__input
      font-size: 13px  

@media (max-width: 576px)
  section.contacts
    padding: 11px 0
  nav
    display: none
  .header
    &_logo
      width: 35px
      height: 35px
      background: $active-color url('../img/header-logo_mobile.png') center no-repeat
      border-radius: 4px
    &-contacts
      &__phone
        &s
          flex-direction: column
        font-size: 14px
        font-weight: 400
        /* letter-spacing: 0.5px */
        &-bold
          font-weight: 900
        &:first-child
          padding-right: 0
          border-right: none
        &:last-child
          margin: 0
          margin-left: 0
  .hidden-mobile
    display: none
  .header-contacts__button
    padding: 6px
    width: 27px
    height: 27px
    margin-left: 14px
    img
      margin-right: 0
      width: 14px
      padding-bottom: 3px
  
  .main
    padding-top: 45px
    text-align: center
    &-text
      &__title
        font-size: 22px
        font-weight: 700
        line-height: 24px
        color: $active-color
        margin-bottom: 7px
      &__subtitle
        font-size: 18px
        font-weight: 400
        margin-bottom: 35px
      &__form
        max-width: 460px
        margin-left: auto
        margin-right: auto
        background-color: transparent
        padding: 0
    .form
      display: block
      margin-bottom: 10px
      &-title
        padding-right: 0
        font-size: 15px
        font-weight: 300
        line-height: 18px
        margin-bottom: 14px
        &__important
          display: block
          margin-top: 10px
          font-weight: 700
      &__input
        text-align: center
        display: inline-block
        margin: 0 0 13px 0
        width: 100%
        padding: 16px 20px
      &-small
        padding-left: 0
  .button
    &_big
      width: 180px
      padding-top: 17px
      padding-bottom: 16px
      padding-right: 18px 
      padding-left: 18px
      font-size: 15px

  .overlay
    .popup
      display: block
      border: 5px $active-color
      top: 60px
      width: 290px
      &-title
        font-size: 16px
        mix-heigth: 61px
      &-close
        top: -10px
        right: 2px
      &-form
        text-align: center
        padding: 15px 10px
        &__header
          font-size: 20px
          span
            display: inline-block
            font-size: 15px
        &__input
          display: inline-block
          width: 99%
        &__label
          font-size: 16px
          margin-bottom: 10px
          margin-top: 15px
        &__btn
          width: 200px
        &__note
          font-size: 12px
        



