@charset "UTF-8";
body {
  margin: 0; }

img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

.main {
  position: relative;
  padding-top: 55px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/header-bg.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
  /*Оформляю заголовок*/ }
  .main::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    /*Оформление главной картинки*/ }
  .main-img {
    position: relative;
    top: 8px;
    left: -110px;
    width: 480px; }
    .main-img::before {
      content: '';
      position: absolute;
      height: 390px;
      width: 390px;
      left: 50%;
      margin-left: -140px;
      top: 10px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      z-index: -1; }
  .main-text__title {
    font-size: 41px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 8px;
    margin-top: 0; }
  .main-text__subtitle {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px; }
  .main-text__form {
    padding: 21px 27px;
    background: rgba(255, 255, 255, 0.2); }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px; }
  .form-title {
    padding-right: 50px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 16px; }
    .form-title__important {
      text-transform: uppercase;
      font-weight: 700; }
  .form__input {
    margin-right: 10px;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    border-radius: 4px;
    border: none;
    padding: 20px;
    vertical-align: middle; }
  .form-small {
    padding-left: 17px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300; }

.header_logo {
  background: url("../img/good_cardboard.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px; }

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-contacts__button {
    margin-left: 27px;
    font-size: 14px;
    color: #ffffff; }
  .header-contacts__phones {
    font-size: 22px; }
    .header-contacts__phones a {
      color: #373737;
      text-decoration: none;
      position: relative; }
      .header-contacts__phones a:hover {
        /* color: $active-color */ }
      .header-contacts__phones a::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #ff9d00;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
      .header-contacts__phones a:hover:before {
        width: 100%;
        left: 0; }

.header .phone_one {
  padding-right: 13px;
  border-right: 1px solid #cfcfd0; }

.header .phone_two {
  margin: 0 0 0 13px; }

nav {
  padding: 8px 0;
  background: #373737; }
  nav .nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav .nav-wrap .item {
      text-align: center;
      vertical-align: center;
      padding: 4px 12px;
      border-right: 1px dotted #5f5f5f; }
      nav .nav-wrap .item:last-child {
        border-right: none; }
      nav .nav-wrap .item a {
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        font-size: 12px; }
        nav .nav-wrap .item a:hover {
          color: #ff9d00; }

section.contacts {
  padding: 14px 0; }

.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  border-radius: 5px;
  padding: 13px 22px;
  outline: none;
  cursor: pointer; }
  .button:hover {
    background-color: #ffa71a; }
  .button img {
    vertical-align: middle;
    margin: 0 10px 0 0; }
  .button_big {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .popup {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 752px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .overlay .popup-close {
      font-family: Roboto, sans-serif;
      position: absolute;
      right: -20px;
      top: -32px;
      color: #ffffff;
      font-size: 35px;
      font-weight: 300;
      cursor: pointer; }
    .overlay .popup-title {
      display: block;
      width: 100%;
      mix-heigth: 71px;
      background-color: #ff9d00;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 21px;
      text-align: center;
      font-weight: 500;
      line-height: 71px; }
    .overlay .popup-form {
      text-align: center;
      background: #2b2b2b url(../img/modal-bg.jpg) center no-repeat;
      background-size: cover;
      padding: 35px 88px 50px 88px;
      color: #ffffff; }
      .overlay .popup-form__header {
        padding: 0;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        text-align: center; }
        .overlay .popup-form__header span {
          font-size: 24px; }
      .overlay .popup-form__label {
        display: block;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 23px;
        margin-bottom: 17px; }
      .overlay .popup-form__input {
        width: 365px;
        margin-right: 15px;
        border-radius: 4px;
        border: none;
        padding: 21px;
        margin-bottom: 9px; }
      .overlay .popup-form__note {
        font-size: 14px;
        font-weight: 300;
        line-height: 30px; }

@media (max-width: 576px) {
  .header_logo {
    width: 35px;
    height: 35px;
    background: #ff9d00 url("../img/header-logo_mobile.png") center no-repeat;
    border-radius: 4px; }
  .header-contacts {
    display: block; }
    .header-contacts__phones {
      font-size: 14px;
      margin: 0;
      padding-righ: 0; }
  .hidden-mobile {
    display: none; }
  .header-contacts__button {
    padding: 7px; }
    .header-contacts__button img {
      margin-right: 0; } }

.phone_one {
  padding-right: 0;
  padding: 0;
  border-right: none; }

.phone_two {
  margin: 0;
  padding-left: 0; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0; }
/*# sourceMappingURL=style.css.map */